
.border-top{
  border-top:solid;
}

.border-left{
  border-top:left;
}

.border-bottom{
  border-top:bottom;
}

.border-right{
  border-top:right;
}

.border-white{
  border-color: white;
}

.border-black {
  border-color: black;
}



.border-primary{
  border: rgb(var(--primary-color));
}

.border-info {
  border: rgb(var(--info-color));
}

.border-success {
  border: rgb(var(--success-color));
}

.border-warn {
  border: rgb(var(--warn-color));
}

.border-danger {
  border: rgb(var(--danger-color));
}

.rounded{
  border-radius: 0.3125rem;
}

.rounded-circle{
  border-radius: 50%;
}