.bg-transparent{
  background-color: transparent;
}

.bg-white{
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-none{
  background-color: none;
}

.bg-primary{
  background: rgb(var(--primary-color));
}

.bg-info {
  background: rgb(var(--info-color));
}

.bg-success {
  background: rgb(var(--success-color));
}

.bg-warn {
  background: rgb(var(--warn-color));
}

.bg-danger {
  background: rgb(var(--danger-color));
}

.color-white{
  color: white;
}

.color-black {
  color: black;
}

.color-primary{
  color: rgb(var(--primary-color));
}

.color-info {
  color: rgb(var(--info-color));
}

.color-success {
  color: rgb(var(--success-color));
}

.color-warn {
  color: rgb(var(--warn-color));
}

.color-danger {
  color: rgb(var(--danger-color));
}
