.d-block{display:block}
.d-flex{display: flex;}
.d-inline{display: inline;}
.d-inline-block{display: inline-block;}
.d-none{display: none;}
.align-items-center{align-items: center;}
.justify-content-left{justify-content: left;}
.justify-content-right{justify-content: right;}
.justify-content-center{justify-content: center;}
.justify-content-space-between{justify-content: space-between;}
.justify-content-space-around{justify-content: space-around;}
.flex-flow-row{flex-flow: row;}
.flex-flow-col{flex-flow: column}
.flex-flow-row-reverse{flex-flow:row-reverse;}
