.m-5{
	margin: 5px;
}

.m-10{
	margin: 10px;
}

.m-20{
	margin: 20px;
}

.m-25{
	margin: 25px;
}

.m-45{
	margin: 45px;
}

.m-50{
	margin: 50px;
}

.m-75{
	margin: 75px;
}

.m-auto{
	margin: auto
}

.ml-5{
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-25 {
	margin-left: 25px;
}

.ml-45 {
	margin-left: 45px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-75 {
	margin-left: 75px;
}

.ml-auto {
	margin-left: auto
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-25 {
	margin-right: 25px;
}

.mr-45 {
	margin-right: 45px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-75 {
	margin-right: 75px;
}

.mr-auto {
	margin-right: auto
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-auto {
	margin-top: auto
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-auto {
	margin-bottom: auto
}

