.accordion-group {
  margin: 5px;
}

.accordion {
  display: block;


  border-width: 1px;
  margin: 8px 5px;
}

.accordion-header {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.accordion-header::after {
  content: "V";
  padding: 0;
  float: right;
  transition: 0.5s;
  margin: 0;
}

.accordion.active > .accordion-header::after {
  transform: rotate(180deg);
}

.accordion-body{
  margin-top: 5px;
  padding: 10px;
  display: none;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.accordion.active > .accordion-body{
  display: block;
}

.accordion-group > .accordion{
  border-bottom: solid;
  border-bottom-width: 0.9px;
  border-bottom-color: #AEAEAE9C;
}