.alert {
  --alert-bg: var(--main-bg);
  --alert-color: var(--main-color);
  margin: 0.1rem;
  border: solid;
  border-width: 0.6px;
  border-color: var(--alert-color);
  border-radius: 0.3rem;
  background: var(--alert-bg);
  color: var(--alert-color);
}

.alert-primary {
  --alert-bg: var(--primary-color-subtle);
  --alert-color: var(--primary-text-emphasis);
}

.alert-info {
  --alert-bg: var(--info-color-subtle);
  --alert-color: var(--info-text-emphasis);
}

.alert-success {
  --alert-bg: var(--success-color-subtle);
  --alert-color: var(--success-text-emphasis);
}

.alert-warn {
  --alert-bg: var(--warn-color-subtle);
  --alert-color: var(--warn-text-emphasis);
}

.alert-danger {
  --alert-bg: var(--danger-color-subtle);
  --alert-color: var(--danger-text-emphasis);
}

.alert-body {
  padding: 0.5rem;
}

.alert-header {
  color: var(--alert-color);
  font-size: 20px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0.6rem 0.7rem;
}