.avatar{
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.avatar>.dot {
	height:13px;
	width: 13px;
	border-radius: 100%;
	background: greenyellow;
	position: absolute;
	bottom: 0;
	right: 0;
}

.avatar>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	vertical-align: middle;
}

.avatar>.info{
	padding: 0px 10px;
}

.avatar-sm>img {
	width: 30px;
	height: 30px;
}

.avatar-md>img {
	width: 55px;
	height: 55px;
}

.avatar-lg>img {
	width: 65px;
	height: 65px;
}

.header-avatar>img {
	width: 150px;
	height: 150px;
}