.badge {
  --badge-bg: var(--primary-color-subtle);
  --badge-color: var(--primary-text-emphasis);
  border: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: var(--badge-color);
  padding: 0.1rem 0.5rem;
  font-size: 0.9rem;
  background-color: var(--badge-bg);
  color: var(--badge-color);
}

.badge-info {
  --badge-bg: var(--info-color-subtle);
  --badge-color: var(--info-text-emphasis);

}

.badge-success {
  --badge-bg: var(--success-color-subtle);
  --badge-color: var(--success-text-emphasis);
}

.badge-warn {
  --badge-bg: var(--warn-color-subtle);
  --badge-color: var(--warn-text-emphasis);

}

.badge-danger{
    --badge-bg:var(--danger-color-subtle);
  --badge-color:var(--danger-text-emphasis);

}