.bottom-sheet {
  --bottom-sheet-bg:var(--main-bg);
  --bottom-sheet-color:var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: none;
  flex-flow: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.bottom-sheet.active{
  display: flex;
}

.bottom-sheet-contents{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  width: 99%;
  max-width: 99.999%;
  min-height: 30vh;
  background-color: var(--bottom-sheet-bg);
  color:var(--bottom-sheet-color);
  z-index: 1003;
  padding:1rem;
  padding: 1rem;
  transform: translateY(100%);
  transition:  transform 0.5s ease;
}

.bottom-sheet.active .bottom-sheet-contents{
  transform: translateY(0%);
}
