.breadcrumb{
	display: flex;
	margin: 0;
	padding:0 5px;
	width: 100%;
	align-items: center;
	flex-flow: row;
	overflow-x: scroll;
}

.breadcrumb > .breadcrumb-item{
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0px 0px;
	text-decoration: none;
}

.breadcrumb > .breadcrumb-item:not(:last-child):after{
	content:var(--breadcrumb-divider);
	padding: 5px;
}

.breadcrumb-item>a{
	display:flex;
	color: currentColor;
	text-decoration: none;
	cursor: none;
}

.breadcrumb-item>a:hover{
	text-decoration: underline;
}