.breadcrumb{
  --breadcrumb-divider:">";
  display: flex;
  align-items: center;
  margin: 0.5rem;
  max-width: 90%;
  overflow-x:scroll;
}

.breadcrumb li{
  list-style: none;
}

.breadcrumb a{
  text-decoration: none;
}

.breadcrumb > li {
  padding: 0.3125rem 0;
}

.breadcrumb > li>a{
  color: rgb(var(--info-color));
}

.breadcrumb > li::after{
  content: var(--breadcrumb-divider);
  padding: 0 0.3125rem;
}

.breadcrumb > li:last-child::after{
  display: none;
}

.breadcrumb > li.current > a{
  color: rgba(0, 0, 0, 0.3);
}
