.breadcrumb {
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  column-gap: 5px;
  max-width: 100%;
  overflow-x: scroll;
}

.breadcrumb li {
  list-style: none;
  position: relative;
  transition: 0.5s;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
  padding: 0 5px;
  color: inherit; /* Match the arrow color with text color */
}

.breadcrumb li.inactive {
  color: gray;
}

.breadcrumb li.active {
  color: var(--color-primary);
  
}

.breadcrumb li:hover {
  text-decoration: underline;
}

.breadcrumb li:hover::after {
  text-decoration: none; /* Ensures arrow does not get underlined */
}