.btn {
	--btn-bg: transparent;
	--btn-color: var(--body-color);
	--btn-border-color: var(--primary-color);
	--btn-padding-x: 8px;
	--btn-padding-y: 8px;
	--btn-hover-color: var(--btn-color);
	--btn-hover-bg: var(--btn-bg);
	--btn-hover-border-color: var(--btn-border-color);

	margin: 5px;
	padding: var(--btn-padding-y) var(--btn-padding-x);
	display: inline-block;
	background-color: var(--btn-bg);
	color: var(--btn-color);
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--btn-border-color);
	transition: 0.15s;
}

button.btn:disabled,
.btn.disabled {
	--btn-bg: #A0A0A0;
	--btn-color: #8E8E8E;
	--btn-border-color: #A0A0A0;
	--btn-hover-color: var(--btn-color);
	--btn-hover-bg: var(--btn-bg);
	--btn-hover-border-color: var(--btn-border-color);
}

.btn:hover {
	background-color: var(--btn-hover-bg);
	color: var(--btn-hover-color);
	border-color: var(--btn-hover-border-color);
}

.btn-primary {
	--btn-bg: var(--primary-color);
	--btn-color: black;
	--btn-border-color: var(--primary-color);
}

.btn-info {
	--btn-bg: var(--info-color);
	--btn-color: black;
	--btn-border-color: var(--info-color);
}

.btn-success {
	--btn-bg: var(--success-color);
	--btn-color: black;
	--btn-border-color: var(--success-color);
}

.btn-warn {
	--btn-bg: var(--warn-color);
	--btn-color: black;
	--btn-border-color: var(--warn-color);
}

.btn-danger {
	--btn-bg: var(--danger-color);
	--btn-color: black;
	--btn-border-color: var(--danger-color);
}

.btn-purple {
	--btn-bg: var(--purple-color);
	--btn-color: black;
	--btn-border-color: var(--purple-color);
}

.btn-pink {
	--btn-bg: var(--pink-color);
	--btn-color: black;
	--btn-border-color: var(--pink-color);
}

.btn-violet {
	--btn-bg: var(--violet-color);
	--btn-color: black;
	--btn-border-color: var(--violet-color);
}


/*outline */

.btn-outline-primary {
	--btn-bg: transparent;
	--btn-color: var(--primary-color);
	--btn-border-color: var(--primary-color);
	--btn-hover-bg: var(--primary-color);
	--btn-hover-color: black;
}

.btn-outline-info {
	--btn-bg: transparent;
	--btn-color: var(--info-color);
	--btn-border-color: var(--info-color);
	--btn-hover-bg: var(--info-color);
	--btn-hover-color: black;
}

.btn-outline-success {
	--btn-bg: transparent;
	--btn-color: var(--success-color);
	--btn-border-color: var(--success-color);
	--btn-hover-bg: var(--success-color);
	--btn-hover-color: black;
}

.btn-outline-warn {
	--btn-bg: transparent;
	--btn-color: var(--warn-color);
	--btn-border-color: var(--warn-color);
	--btn-hover-bg: var(--warn-color);
	--btn-hover-color: black;
}

.btn-outline-danger {
	--btn-bg: transparent;
	--btn-color: var(--danger-color);
	--btn-border-color: var(--danger-color);
	--btn-hover-bg: var(--danger-color);
	--btn-hover-color: black;
}

.btn-outline-purple {
	--btn-bg: transparent;
	--btn-color: var(--purple-color);
	--btn-border-color: var(--purple-color);
	--btn-hover-bg: var(--purple-color);
	--btn-hover-color: black;
}


.btn-outline-pink {
	--btn-bg: transparent;
	--btn-color: var(--pink-color);
	--btn-border-color: var(--pink-color);
	--btn-hover-bg: var(--pink-color);
	--btn-hover-color: black;
}

.btn-outline-violet {
	--btn-bg: transparent;
	--btn-color: var(--violet-color);
	--btn-border-color: var(--violet-color);
	--btn-hover-bg: var(--violet-color);
	--btn-hover-color: black;
}

.btn-sm {
	--btn-padding-x: 5px;
	--btn-padding-y: 5px;
}

.btn-md {
	--btn-padding-x: 10px;
	--btn-padding-y: 10px;
}

.btn-lg {
	--btn-padding-x: 16px;
	--btn-padding-y: 16px;
}

.btn-rounded {
	border-radius: 20px;
}

.btn-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn-group {
	margin: 5px;
}

.btn-group.btn-group-shadow .btn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-group .btn {
	margin: 0;
	border-radius: 0;
	cursor: pointer;
	float: left;
}

.btn-group .btn:not(:last-child) {
	border-right: none;
}

.btn-group .btn.btn-rounded:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.btn-group .btn:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn-group .btn:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn-group .btn.btn-rounded:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-float-top-left {
	position: fixed;
	top: 0;
	left: 0;
	margin: 10px;
}

.btn-float-top-right {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
}


.btn-float-bottom-left{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 10px;
}

.btn-float-bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
}