.btn {
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  color: currentColor;
  padding: 8px;
  margin: 5px;
  transition-property: background;
  transition-duration: 0.2s;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--on-primary);
  border-color: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--on-secondary);
  border-color: var(--secondary-color);
}

.btn-info {
  background: var(--info-color);
  color: var(--on-info);
  border-color: var(--info-color);
}

.btn-success {
  background: var(--success-color);
  color: var(--on-success);
  border-color: var(--success-color);
}

.btn-warn {
  background: var(--warn-color);
  color: var(--on-warn);
  border-color: var(--warn-color);
}

.btn-danger {
  background: var(--danger-color);
  color: var(--on-danger);
  border-color: var(--danger-color);
}

.btn-outline-secondary {
  background: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
  background: var(--secondary-color);
  color: var(--on-secondary);
}

.btn-outline-info {
  background: transparent;
  color: var(--info-color);
  border-color: var(--info-color);
}

.btn-outline-info:hover {
  background: var(--info-color);
  color: var(--on-info);
}

.btn-outline-success {
  background: transparent;
  color: var(--success-color);
  border-color: var(--success-color);
}

.btn-outline-success:hover {
  background: var(--success-color);
  color: var(--on-success);
}

.btn-outline-warn {
  background: transparent;
  color: var(--warn-color);
  border-color: var(--warn-color);
}

.btn-outline-warn:hover {
  background: var(--warn-color);
  color: var(--on-warn);
}

.btn-outline-danger {
  background: transparent;
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.btn-outline-danger:hover {
  background: var(--danger-color);
  color: var(--on-danger);
}

.btn-outline-primary {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.btn-sm{
  padding: 5px;
}

.btn-md{
  padding: 10px;
}

.btn-lg{
  padding: 16px;
}

.btn-rounded{
  border-radius: 20px;
}

