.btn {
  --btn-bg: transparent;
  --btn-color: none;
  --btn-border-color: var(--btn-bg);
  --btn-hover-bg: var(--btn-bg);
  --btn-hover-color: var(--btn-color);
  --btn-hover-border-color: var(--btn-bg);
  margin: 0.2rem !important;
  padding: .5rem;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-color: var(--btn-border-color);
  transition: .3s all
}

.btn-primary {
  --btn-bg: var(--primary-color);
  --btn-color: var(--on-primary);
}

.btn-info {
  --btn-bg: var(--info-color);
  --btn-color: var(--on-info);
}

.btn-success {
  --btn-bg: var(--success-color);
  --btn-color: var(--on-success);
}

.btn-warn {
  --btn-bg: var(--warn-color);
  --btn-color: var(--on-warn);
}

.btn-danger {
  --btn-bg: var(--danger-color);
  --btn-color: var(--on-danger);
}


.btn-outline-primary {
  --btn-bg: transparent;
  --btn-color: var(--primary-color);
  --btn-border-color: var(--btn-color);
  --btn-hover-bg: var(--btn-color);
  --btn-hover-color: var(--on-primary);
  --btn-hover-border-color: var(--btn-hover-border-color);
}

.btn-outline-info {
  --btn-bg: transparent;
  --btn-color: var(--info-color);
  --btn-border-color: var(--btn-color);
  --btn-hover-bg: var(--btn-color);
  --btn-hover-color: var(--on-info);
  --btn-hover-border-color: var(--btn-hover-border-color);
}

.btn-outline-success {
  --btn-bg: transparent;
  --btn-color: var(--success-color);
  --btn-border-color: var(--btn-color);
  --btn-hover-bg: var(--btn-color);
  --btn-hover-color: var(--on-success);
  --btn-hover-border-color: var(--btn-hover-border-color);
}

.btn-outline-warn {
  --btn-bg: transparent;
  --btn-color: var(--warn-color);
  --btn-border-color: var(--btn-color);
  --btn-hover-bg: var(--btn-color);
  --btn-hover-color: var(--on-warn);
  --btn-hover-border-color: var(--btn-hover-border-color);
}

.btn-outline-danger {
  --btn-bg: transparent;
  --btn-color: var(--danger-color);
  --btn-border-color: var(--btn-color);
  --btn-hover-bg: var(--btn-color);
  --btn-hover-color: var(--on-danger);
  --btn-hover-border-color: var(--btn-hover-border-color);
}



.btn-sm {
  padding: .4rem
}

.btn-md {
  padding: .7rem
}

.btn-lg {
  padding: .9rem
}

.btn-rounded {
  border-radius: 2rem
}

.btn:disabled {
  --btn-bg: transparent;
  --btn-color: rgba(0, 0, 0, 0.5);
  --btn-border-color: rgba(0, 0, 0, 0.1);
  --btn-hover-bg: var(--btn-bg);
  --btn-hover-color: var(--btn-color);
  --btn-hover-border-color: var(--btn-border-color)
}

.btn:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-border-color)
}

.btn-icon {
  --btn-icon-bg: transparent;
  --btn-icon-color: var(--body-color);
  --btn-icon-hovet-bg: rgba(0, 0, 0, 0.05);
  --btn-icon-hover-color: var(--body-color);
  background: var(--btn-icon-bg);
  color: var(--btn-icon-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  margin: .2rem;
  transition: .5s;
  border-radius: 50%
}

.btn-icon:hover {
  background: var(--btn-icon-hovet-bg);
  color: var(--btn-icon-hover-color)
}