.card-group {
  padding: 0.3125rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  overflow-x: scroll;
  scroll-padding:0 1%;
  scroll-snap-type: x mandatory;
  
}

.card-group::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
.card-group::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.card-group::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.card-group::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  scroll-snap-align: center;
  margin-left:0.3125rem;
  margin-right: 0.3125rem;
  display: flex;
  flex-flow: column;
  float: left;
  border:solid;
  border-width: 0.0625rem;
  border-color: rgba(0, 0, 0, 0.3);
}

.card-body{
  padding: 1rem;
  width: 100%;
}

.card-img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transition: 0.2s all;
}

.card-img:hover{
  transform: scale(1.02);
}