.card {
	--card-bg: transparent;
	--card-color: var(--body-color);
	--card-body-padding: 16px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	background-clip: border-box;
	background-color: var(--card-bg);
	color: var(--card-color);
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-wrap: break-word;
	min-width: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.card-img-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
	vertical-align: middle;
}

.card-img-bottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
	vertical-align: middle;
}

.card-body {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	padding: var(--card-body-padding);
}

.card-title {
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 16px;
	color: var(--card-color);
}

.card-text {
	margin: 0;
	margin-bottom: 16px;
	color: var(--card-color);
}

.card-group {
	display: grid;
	grid-auto-columns: 100%;
	grid-auto-gap: 10px;
	grid-auto-flow: column;
	max-width: 100%;
	overflow-x: scroll;
}

.card-group>.card {
	scroll-snap-align: start;
	margin-left: 20px;
}

@media (min-width: 500px) {
	.card-group {
		grid-auto-columns: calc(50% - 10px);
		grid-column-gap: 20px;
	}
}

@media (min-width: 700px) {
	.card-group {
		grid-auto-columns: calc(calc(100% / 3) - 20px);
		grid-column-gap: 30px;
	}
}

@media (min-width: 1100px) {
	.card-group {
		grid-auto-columns: calc(25% - 30px);
		grid-column-gap: 40px;
	}
}