.carousel {
  --carousel-text-bg:rgba(0,0,0,0.3);
  --carousel-text-color:var(--color-light);
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: auto;
  z-index:0;
  overflow: hidden; 
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  flex-shrink: 0; 
  position: relative; 
}

.carousel-image img {
  width: 100%;
  height: auto;
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 20px; 
  color: var(--carousel-text-color);
  background-color:var(--carousel-text-bg) ; 
  padding: 10px;
  max-width: 80%; 
  border-radius: 10px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-hover-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: none;
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}