.image-container {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

.image-container>img {
  width: 100%;
  height: 100%;
}

.image-container>.image-contents-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
  display: grid;
  place-content: center;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
}

.main-container{
  padding: 1rem;
  margin: 0;
}

@media (max-width: 48rem) {
  .sidebar-container {
    display: block;
  }

  .sidebar-container>.contents {
    flex: 99%;
    min-height: 91vh;
  }

  .sidebar-container>.sidebar {
    min-height: 1vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  
  .sidebar.active{
    transform: translateX(0%);
  }

  .sidebar-toggle-btn {
    display: block;
  }
  
  .sidebar .sidebar-menu{
    margin-top:1.875rem;
  }
}

@media (min-width: 48rem) {
  .sidebar-container{
    display: flex;
  }
  .sidebar-container>.contents {
    flex: 99%;
    min-height: 91vh;
  }

  .sidebar .sidebar-toggle-btn {
    display: none;
  }

  .sidebar-container>.sidebar {
    flex: 15.625rem;
    min-width: 15.625rem;
    border-right: solid;
    border-color: rgba(0, 0, 0, 0.2);
  }
}