.divider {
  --divider-color: rgba(0, 0, 0, 0.1);
  --divider-text-color: var(--main-color);
}

.divider-normal {
  --divider-color: rgba(0, 0, 0, 0.1);
  --divider-text-color: #ddd;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
}

.divider-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--divider-text-color);
}

.divider-text::before,
.divider-text::after {
  content: '';
  flex: 1;
  height: 1px;
  background: var(--divider-color);
  margin: 0 10px;
}

.divider-dotted {
  width: 100%;
  border-top: 1px dotted var(--divider-color);
}