.footer {
	--footer-bg: rgba(0, 0, 0, 0.1);
	--footer-nav-item-color: var(--body-color);
	--footer-nav-item-hover-color: var(--primary-color);
	margin: 0;
	height: 100%;
	padding-top: 16px;
	background: var(--footer-bg);
}

.footer-brand {
	margin: 0;
	padding: 5px 10px;
	font-size: 20px;
	font-weight: normal;
}

.footer-text {
	margin: 0;
	font-size: 15px;
}

.footer-row {
	display: flex;
}

.footer-col {
	padding: 10px;
	flex: 50%;
}

.footer-header {
	font-weight: bold;
	margin: 5px;
	text-transform: uppercase;
}

.footer-nav {
	margin: 0;
	padding-left: 10px;
}

.footer-nav li {
	list-style: none;
}

.footer-nav>li>a {
	color: var(--footer-nav-item-color);
	padding: 5px;
	display: flex;
	text-decoration: none;
	cursor: none;
}

.footer-nav>li:hover>a {
	color: var(--footer-nav-item-hover-color);
	text-decoration: underline;
}

.footer-copyright{
	font-size: 18px;
	text-align: center;
}

.footer-social-networks{
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 16px;
}

.footer-social-networks img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.footer-social-networks>a{
	margin-left:10px;
}

@media only screen and (max-width: 600px) {
	.footer-row {
		flex-flow: column;
	}
}