.form {
	--form-input-bg: transparent;
	--form-input-color: var(--body-color);
	--form-input-focus-color: var(--primary-color);
	--form-checkbox-focus-color: var(--primary-color);
	--form-radio-focus-color: var(--primary-color);
	--form-select-bg: transparent;
	--form-select-focus-color: var(--primary-color);
	--form-select-color: var(--body-color);
}

.form-input {
	margin: 5px;
	padding: 10px;
	background: var(--form-input-bg);
	color: var(--form-input-color);
	border: solid;
	border-width: 1px;
	border-color: darkgrey;
	border-radius: 5px;
	box-sizing: border-box;
}

.form-input:focus {
	outline: none;
	box-shadow: 0.5px 0.5px 5px 0.4px darkgray;
	border-color: var(--form-input-focus-color);
}

.form-input.form-invalid {
	color: var(--danger-color);
	border-color: var(--danger-color);
}

.form-input.form-success {
	color: var(--success-color);
	border-color: var(--success-color);
}

.form-label {
	margin: 5px;
	font-size: 16px;
}

.form-description {
	margin: 5px 10px;
	font-size: 13px;
}

.form-checkbox {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 5px;
	padding: 10px;
	color: black;
	vertical-align: middle;
	border: solid;
	border-width: 1px;
	border-color: darkgray;
}

.form-checkbox:checked {
	background-image: url("../Images/check.svg");
}

.form-checkbox:focus {
	outline: none;
	box-shadow: 0.5px 0.5px 5px 0.4px darkgray;
	border-color: var(--form-checkbox-focus-color);
}

.form-checkbox.form-invalid {
	border-color: var(--danger-color);
}

.form-checkbox.form-success {
	border-color: var(--success-color);
}

.form-radio {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 5px;
	padding: 10px;
	color: black;
	vertical-align: middle;
	border: solid;
	border-width: 1px;
	border-radius: 50%;
	border-color: darkgray;
}

.form-radio:checked {
	background-image: radial-gradient(hsl(213, 73%, 50%) 40%,
			transparent calc(40% + 1px));
}

.form-radio:focus {
	outline: none;
	box-shadow: 0.5px 0.5px 5px 0.4px darkgray;
	border-color: var(--form-radio-focus-color);
}

.form-radio.form-invalid {
	border-color: var(--danger-color);
}

.form-radio.form-success {
	border-color: var(--success-color);
}

.field-input {
	margin: 5px;
	display: flex;
	flex-flow: column;
	width: 80%;
}

.field-input.field-inline {
	flex-flow: row;
	align-items: center;
}

.field-check {
	margin: 5px;
	display: flex;
	flex-flow: row;
	width: 80%;
	align-items: center;
}

.form-select {
	padding: 10px 15px;
	background: var(--form-select-bg);
	color: var(--form-select-color);
	margin: 5px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: darkgrey;
}

.form-select:focus {
	outline: none;
	border-color: var(--form-select-focus-color);
	box-shadow: 0.5px 0.5px 5px 0.4px darkgray;
}

select::-ms-expand {
	display: none;
}

.field.form-invaild>.form-input,
.field.form-invaild>.form-select,
.field.form-invaild>.form-label {
	color: var(--danger-color);
	border-color: var(--danger-color);
}

.field.form-invaild>.form-input:focus,
.field.form-invaild>.form-select:focus {
	box-shadow: none;
}

.field.form-success>.form-input,
.field.form-success>.form-select,
.field.form-success>.form-label {
	color: var(--success-color);
	border-color: var(--success-color);
}


.field.form-success>.form-input:focus,
.field.form-success>.form-select:focus {
	box-shadow: none;
}