.form-group {
  box-sizing: content-box;
}

.form-group.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
}


.form-label {
  --form-label-color:var(--main-color);
  font-size: 16px;
  color:var(--form-label-color);
}

input[type="checkbox"].form-input {
  --form-check-border-color: var(--main-border-color);
  --form-check-color: var(--color-dark-text);
  --form-check-bg:var(--color-dark);
}

input[type="checkbox"].form-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid var(--form-check-border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

input[type="checkbox"].form-input:checked {
  background-color: var(--form-check-bg);
  border-color: var(--form-check-bg);
}

input[type="checkbox"].form-input:checked::after {
  content: '✓';
  color: var(--form-check-color);
  font-weight: bold;
}

input[type="checkbox"].form-input:focus {
  outline: none;
}