:root {
  --primary-color: #2978FFE6;
}

.form-control {
  display: block;
  padding: 10px;
  outline: none;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
  background: transparent;
}

.form-control:focus {
  border-color: var(--primary-color);
}

.form-label {
  padding: 5px;
  display: flex;
}

input[type="file"].form-control {
  padding: 0px;
}

.form-control::-webkit-file-upload-button {
  background: none;
  border: none;
  border-right: solid;
  padding: 10px;
  border-width: 1px;
}

input[type="color"].form-control {
  padding: 0px;
  background: none;
}

.form-control:disabled {
  background: #C3C3C3;
}

.form-select {
  background: transparent;
  display: block;
  padding: 10px;
  outline: none;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px;
}

.form-check {
  display: flex;
  align-items: center;
  padding: 5px;

}

.form-check-input:focus {
  border-color: var(--primary-color);
}

.form-check-input {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  border: solid;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-check-input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
  transform-origin: bottom left;
}

.form-check-input:disabled::before {
  color: #C3C3C3;
  background: #C3C3C3;
}

input[type="radio"].form-check-input {
  border-radius: 50%;
}

input[type="checkbox"].form-check-input::before {
  color: var(--primary-color);
  background: var(--primary-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="radio"].form-check-input::before {
  color: var(--primary-color);
  background: var(--primary-color);
  border-radius: 50%;
}

.form-check-input:checked::before {
  transform: scale(1);
}

.form-label-floating {
  padding-top: 10px;
  padding-bottom: 10px;
  
  position: relative;
}

.form-label-floating>input {
  margin-bottom: 16px;
  padding: 0px ;
  padding-top: 16px;
  padding-bottom: 3px;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  background: transparent;
  outline: none;
}

.form-label-floating>input::placeholder {
  opacity: 0;
}

.form-label-floating>input:not(.form-success):not(.form-invaild):focus{
  border-color:var(--primary-color);
}

.form-label-floating>span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px,10px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

.form-label-floating:focus-within>span,
.form-label-floating>input:not(:placeholder-shown)+span {
  color: var(--primary-color);
  transform: translate(0px,-10px);
}

input.form-invaild{
  border-color: var(--danger-color);
}

input.form-success {
  border-color: var(--success-color);
}

input.form-invaild:focus {
  border-color: var(--danger-color);
}

input.form-success:focus {
  border-color: var(--success-color);
}