.link{
	cursor: none;
	display: inline;
	text-decoration: none;
	color: var(--body-color);
}

.link:hover{
	text-decoration: underline;
}

.link.link-hover-effect{
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    var(--body-color) 50%
  );
  color: var(--body-color);
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link.link-hover-effect:hover{
	background-position: 0;
}


