.modal{
  --modal-bg:white;
  --modal-color:black;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  place-content: center;
  z-index: 1006;
  box-sizing: border-box;
}

.modal.active{
  display: block;
}

.modal-contents{
  margin:auto;
  margin-top:16px;
  background: var(--modal-bg);
  display: block;
  width:95vw;
  border-radius: 5px;
  -webkit-animation-name: show;
  -moz-animation-name: show;
  -o-animation-name: show;
  animation-name: show;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  box-sizing: border-box;
}

.modal-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.modal-toggle-btn{
  padding: 10px;
  margin: 0;
  background: transparent;
  color:var(--modal-color);
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
}

.modal-toggle-btn:hover{
  background: rgba(0,0,0,0.1);
}

.modal-body{
  height: 100%;
  padding: 16px;
  max-height: 90vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.modal-fullscreen > .modal-contents{
  width: 100vw;
  height: 100vh;
  border-radius:0px;
  margin: 0px;
}


@media (min-width:768px){
  .modal-contents{
    width: 40vw;
    max-width: 50ww;
  }
}

@keyframes show{
  from{
    transform: scale(0.01);
  }
  
  to{
    transform: scale(1);
  }
}