.navbar {
	/* */
	--navbar-bg: var(--body-bg);
	--navbar-color: var(--body-color);
	--navbar-item-color: var(--navbar-color);
	--navbar-item-hover-color: var(--primary-color);
	--navbar-control-btn-color: var(--navbar-color);
	--navbar-brand-color: var(--navbar-color);
	--navbar-brand-font-size: 24px;
	background: var(--navbar-bg);
	color: var(--navbar-color);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	z-index: 1000;
}

.navbar a {
	text-decoration: none;
	cursor: none;
}

.navbar li {
	list-style: none;
}

.navbar .navbar-brand {
	margin: 16px 0px;
	font-size: var(--navbar-brand-font-size);
	padding: 0px 15px;
	color: var(--navbar-brand-color);
}

.navbar .navbar-control-btn {
	padding: 10px;
	background: none;
	border: none;
	font-size: 18px;
	color: var(--navbar-control-btn-color);
}

.navbar .navbar-open-btn {
	padding: 10px;
	background: none;
	border: none;
	font-size: 18px;
	color: var(--navbar-control-btn-color);
}

.navbar .navbar-close-btn {
	padding: 10px;
	background: none;
	border: none;
	font-size: 18px;
	color: var(--navbar-control-btn-color);
}

.navbar-content .navbar-items {
	margin: 0;
	padding: 0px;
}

.navbar-avatar {
	margin: 15px;
}

.navbar-avatar-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.navbar-search-box {
	margin: 0px;
	padding: 0px 5px;
	display: flex;
	align-items: center;
	flex-flow: row;
	justify-content: center;
}


.navbar-search-box>input {
	width: 100%;
	margin: 0;
	padding: 10px;
	background: transparent;
	color: var(--navbar-color);
	border: solid;
	border-width: 0.8px;
	border-radius: 5px;
}

.navbar-search-box>input:focus {
	outline: none;
}

.navbar-search-box>.search-btn{
	font-family: 'turtle-icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0px 16px;
	font-size: 20px;
}

.navbar-search-box>.search-btn:before{
	content: "\e986";
}

.navbar-search-box>.close-search {
	
	padding: 0px 16px;
	font-size: 20px;
}

.navbar-search-box>.close-search:before {
  content: "\ea0f";
}


.navbar-search-icon:before{
	content: "\e986";
}

.navbar-search-box>.search-btn,
.navbar-search-icon,
.close-search {
	font-family: 'turtle-icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;
	color: var(--navbar-color);
	border: none;
}

.navbar-open-btn ,.navbar-close-btn{
	font-family: 'turtle-icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;
	color: var(--navbar-color);
	border: none;
}

.navbar-open-btn:before{
	content: "\e9bd";
}

.navbar-close-btn:before {
	content: "\ea0f";
}

@media only screen and (max-width: 600px) {
	.navbar .navbar-content {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--navbar-bg);
	}

	.navbar.active>.navbar-content {
		display: block;
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-o-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
	}

	.navbar-content>.navbar-items>li {}

	.navbar-content>.navbar-items>li>a {
		display: flex;
		transition: 0.4s;
		padding: 15px;
		font-weight: bold;
		color: var(--navbar-item-color);
	}

	.navbar-content>.navbar-items>li.active>a {
		color: var(--navbar-item-hover-color);
	}

	.navbar-content>.navbar-items>li:hover>a {
		background: var(--navbar-item-hover-color);
		color: var(--navbar-item-color);
	}

	.navbar-content>.navbar-items>li>ul {
		display: none;
		margin: 0;
		padding: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-o-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
	}


	.navbar-content>.navbar-items>li>ul>li>a {
		display: flex;
		padding: 15px;
		padding-left: 25px;
		font-weight: bold;
		transition: 0.4s;
		color: var(--navbar-item-color);
	}

	.navbar-content>.navbar-items>li>ul>li:hover>a {
		color: var(--navbar-item-hover-color);
	}

	.navbar-content>.navbar-items>li>ul>li.active>a {
		color: var(--navbar-item-hover-color);
	}

	.navbar-item.active-subitem>.navbar-subitems {
		display: block;
	}

	.navbar-search-icon {
		display: none;
	}

	.close-search {
		display: none;
	}
}


@media only screen and (min-width: 600px) {
	.navbar .navbar-content {
		flex-flow: row;
		display: flex;
		align-items: center;
		padding-right: 100px;
	}

	.navbar .navbar-control-btn {
		display: none;
	}

	.navbar-content .navbar-items {
		display: flex;
	}

	.navbar-content>.navbar-items>li {
		position: relative;
	}

	.navbar-content>.navbar-items>li>a {
		display: flex;
		padding: 10px;
		color: var(--navbar-item-color);
	}

	.navbar-content>.navbar-items>li:hover>ul {
		display: block;
	}


	.navbar-content>.navbar-items>li:hover>a {
		color: var(--navbar-item-hover-color);
		font-weight: bold;
	}

	.navbar-content>.navbar-items>li.active>a {
		color: var(--navbar-item-hover-color);
		font-weight: bold;
	}

	.navbar-content>.navbar-items>li>ul {
		display: none;
		background: var(--navbar-bg);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
		margin: 10px 0px;
		padding: 0;
		left: 0;
		min-width: 150px;
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-o-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
	}

	.navbar-content>.navbar-items>li>ul>li>a {
		display: flex;
		padding: 16px;
		color: var(--navbar-item-color);
	}

	.navbar-content>.navbar-items>li>ul>li:hover>a {
		background: var(--navbar-item-hover-color);
		font-weight: bold;
	}

	.navbar-content>.navbar-items>li>ul>li.active>a {
		background: var(--navbar-item-hover-color);
		font-weight: bold;
	}

	.navbar-content>.dropdown {
		margin: 0px;
	}

	.navbar-search-box {
		background: var(--navbar-bg);
		width: 100%;
		position: fixed;
		top: -100%;
		left: 0;
		padding: 16px;
		transition: 0.5s;
		z-index: 100000;
	}

	.navbar-search-box.open {
		top: 0;
	}

	.navbar-content > .navbar-search-icon {
		display: block;
		font-size: 20px;
	}
	
	.navbar-open-btn , .navbar-close-btn{
		display: none;
	}
}