.navbar{
  --navbar-bg:var(--main-bg);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: var(--navbar-bg);
  box-sizing:border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-shadow{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.navbar-header{
  padding: 1rem;
  display: flex;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.navbar-title{
  margin:0;
  font-size: var(--size-font-xl);
  font-weight: normal;
}

.navbar-items{
  margin-left: 1rem;
  margin-right: 1rem;
}
