.note{
	--note-bg:var(--primary-color);
	--note-color:black;
	display: block;
	margin: 5px;
	padding: 16px;
	background-color: var(--note-bg);
	color: var(--note-color);
	border-radius: 5px;
}

.note-info{
	--note-bg:var(--info-color);
}

.note-success{
	--note-bg:var(--success-color);
}

.note-warn{
		--note-bg:var(--warn-color);
}

.note-danger{
		--note-bg:var(--danger-color);
}

.note-header{
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.note-text{
	font-size: 17px;
	margin: 0;
	padding: 5px;
}