.note{
  display: none;
  padding: 16px;
  margin:10px 5px;
  border-radius: 5px;
}

.note-header{
  font-size: 23px;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.note-header > *{
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
.note.active{
  display: flex;
}

.note-info{
  background: #7BDBFF8F;
}

.note-success{
  background: #7BFFA78F;
}

.note-warn{
  background: #FFF07B8F;
}

.note-danger{
  background: #FF7B7B8F;
}