.offcanvas {
	--offcanvas-bg: var(--body-bg);
	--offcanvas-title-color: var(--body-color);
	--offcanvas-close-btn-color: var(--body-color);
	--offcanvas-body-color: var(--body-color);
	--offcanvas-nav-item-color: var(--offcanvas-body-color);
	--offcanvas-nav-item-hover-color: var(--primary-color);
	position: fixed;
	background: var(--offcanvas-bg);
	transition: 0.5s;
	box-sizing: border-box;
	z-index: 1001;
}

.offcanvas-top {
	top: -1000px;
	left: 0px;
	width: 100%;
	min-height: 25%;
}

.offcanvas-bottom {
	bottom: -1000px;
	left: 0;
	width: 100%;
	min-height: 25%;
}

.offcanvas-left {
	top: 0px;
	left: -1000px;
	width: 100%;
	height: 100%;
}

.offcanvas-right {
	top: 0px;
	right: -1000px;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 700px) {

	.offcanvas-left,
	.offcanvas-right {
		width: 30%;
		height: 100%;
	}

	.offcanvas-top,
	.offcanvas-left {
		min-height: 15%;
	}

}

.offcanvas-top.active {
	top: 0;
}

.offcanvas-bottom.active {
	bottom: 0;
}

.offcanvas-left.active {
	left: 0;
}

.offcanvas-right.active {
	right: 0;
}

.offcanvas>.offcanvas-header {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: space-between;
}

.offcanvas-header>.offcanvas-title {
	font-size: 20px;
	font-weight: bold;
	color: var(--offcanvas-title-color);
}

.offcanvas-header>.offcanvas-close-btn {
	padding: 5px;
	background: none;
	border: none;
	font-weight: bold;
	font-size: 20px;
	color: var(--offcanvas-close-btn-color);
}

.offcanvas-body {
	padding: 5px;
	color: var(--offcanvas-body-color);
}

.offcanvas-nav {
	padding: 0;
}

.offcanvas-nav li {
	list-style: none;
}

.offcanvas-nav a {
	text-decoration: none;
}

.offcanvas-nav>li>a {
	transition: 0.4s;
	transition-property: background;
	padding: 15px;
	display: flex;
	color: var(--offcanvas-nav-item-color);
}

.offcanvas-nav>li:hover>a {
	background: var(--offcanvas-nav-item-hover-color);
	font-weight: bold;
}

.offcanvas-nav>li>ul {
	display: none;
	margin-top: 20px;
	padding: 0;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.offcanvas-nav ul>li>a {
	display: flex;
	align-items: center;
	padding: 10px;
	padding-left: 40px;
	background: transparent;
	color: var(--offcanvas-nav-item-color);
}

.offcanvas-nav ul>li>a {
	display: flex;
	align-items: center;
}

.offcanvas-nav ul>li:hover>a {
	color: var(--offcanvas-nav-item-hover-color);
	font-weight: bold;
}

.offcanvas-nav ul>li>ul {
	display: none;
	padding: 0;
	margin: 0;
}

.nav-item.active-subitem>.nav-subitem{
	display: block;
}