.offcanvas {
  --offcanvas-bg: var(--main-bg);
  --offcanvas-nav-items-color: var(--main-color);
  --offcanvas-nav-items-hover-color: var(--primary-color);

  overflow: hidden;
  position: fixed;
  background-color: var(--offcanvas-bg);
  z-index: 1004;
  transition: 0.5s;
}

.offcanvas-left,
.offcanvas-right {
  height: 100%;
}

.offcanvas-top,
.offcanvas-bottom {
  width: 100%;
}

.offcanvas-left {
  left: 0;
  top: 0;
  transform: translateX(-100%);
}

.offcanvas-right {
  right: 0;
  top: 0;
  transform: translateX(100%);
}

.offcanvas-top {
  left: 0;
  top: 0;
  transform: translateY(-150%);
}


.offcanvas-bottom {
  left: 0;
  bottom: 0;
  transform: translateY(150%);
}

.offcanvas-left.active,
.offcanvas-right.active {
  transform: translateX(0%);
}


.offcanvas-top.active,
.offcanvas-bottom.active {
  transform: translateY(0%);
}

@media (max-width:48rem) {

  .offcanvas-left,
  .offcanvas-right {
    width: 100%;
  }

  .offcanvas-top,
  .offcanvas-bottom {
    height: 50%;
    max-height: 50%;
  }

}

@media (min-width:48rem) {

  .offcanvas-left,
  .offcanvas-right {
    width: 35%;

  }

  .offcanvas-top,
  .offcanvas-bottom {
    height: 20%;
    max-height: 20%;
  }



}


.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.offcanvas-btn-toggle {
  background: transparent;
  border: none;
  font-size: 24px;
}

.offcanvas-title {
  font-size: 24px;
  font-weight: 350;
  margin: 0;
  color: var(--sidebar-title-color);
}

.offcanvas-body {
  padding: 0.5rem;
  box-sizing: content-box;
  height: 99%;
  max-height: 99%;
  overflow-y: scroll;
}

.offcanvas-nav li {
  list-style: none;
}

.offcanvas-nav a {
  text-decoration: none;
}

.offcanvas-nav {
  padding: .5rem;
}

.offcanvas-nav>li>a {

  display: flex;
  align-items: center;
  padding: 1rem;
  column-gap: 10px;
  cursor: none;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--offcanvas-nav-items-color);
}

.offcanvas-nav>li>a * {
  pointer-events: none;
}

.offcanvas-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--offcanvas-nav-items-hover-color);
}


.offcanvas-nav>li>ul {
  display: none;
  margin: 0.7rem 0;
}

.offcanvas-nav>li>ul.open {
  display: block;
}

.offcanvas-nav>li>ul>li>a {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  column-gap: 10px;
  cursor: none;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--offcanvas-nav-items-color);
}

.offcanvas-nav>li>ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--offcanvas-nav-items-hover-color);
}