.offcanvas {
  --offcanvas-bg: var(--body-bg);
  	--offcanvas-item-color: var(--body-color);
	--offcanvas-item-hover-color: var(--primary-color);

  position: fixed;
  background: var(--offcanvas-bg);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1004;
}

.offcanvas-left {
  top: 0;
  transform: translateX(-100%);
}

.offcanvas-right {
  top: 0;
  transform: translateX(100%);
}


.offcanvas-top {
  top: 0;
  transform: translateY(-100%);
}

.offcanvas-bottom {
  bottom: 0;
  transform: translateY(100%);
}

.offcanvas-left.active {
  transform: translateX(0%);
}

.offcanvas-right.active {
  transform: translateX(0%);
}

.offcanvas-top.active {
  transform: translateY(0%);
}

.offcanvas-bottom.active {
  transform: translateY(0%);
}

@media only screen and (max-width:600px) {

  .offcanvas-left,
  .offcanvas-right {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .offcanvas-top,
  .offcanvas-bottom {
    width: 100%;
    max-height: 50%;
    overflow-y: scroll;
  }
}

@media only screen and (min-width:600px) {
.offcanvas-right{
  right: 0;
}
  .offcanvas-left,
  .offcanvas-right {
    width: 30%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .offcanvas-top,
  .offcanvas-bottom {
    width: 100%;
    max-height: 20%;
    
  }
}

.offcanvas-toggle-btn {
  background: transparent;
  font-size: 25px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  justify-content: space-between;
}

.offcanvas-header>.offcanvas-title {
  font-weight: bold;
  margin: 0;
}

.offcanvas a{
  text-decoration:none;
}

.offcanvas-links{
  list-style: none;
}

.offcanvas-links{
  padding: 5px;
}

.offcanvas-links>li>a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  color: var(--offcanvas-item-color);
  cursor: none;
}

.offcanvas-links>li:hover>a {
  color: var(--offcanvas-item-hover-color);
  background: rgba(0, 0, 0, 0.2);
}

.offcanvas-links>li>ul {
  margin-top: 5px;
  padding: 10px;
  margin-left: 16px;
  border-left: solid;
  border-width: 1px;
  display: none;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;

}

.offcanvas-links>li>ul>li>a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  color: var(--offcanvas-item-color);
  cursor: none;
}

.offcanvas-links>li>ul>li:hover>a {
  color: var(--offcanvas-item-hover-color);
}

.offcanvas-links>li:hover>ul {
  display: block;
}

.offcanvas-body{
  padding: 16px;
}