.offcanvas {
  --offcanvas-bg: white;
  --offcanvas-color: black;
  --offcanvas-nav-items-color: var(--offcanvas-color);
  --offcanvas-nav-items-hover-color: rgb(var(--primary-color));
  --offcanvas-nav-items-hover-bg: rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: var(--offcanvas-bg);
  transition: all 0.2s;
  z-index: 1003;
}

.offcanvas-top {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.offcanvas-bottom {
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}


.offcanvas-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}


.offcanvas-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.offcanvas-top.active,
.offcanvas-bottom.active {
  transform: translateY(0%);
}

.offcanvas-left.active,
.offcanvas-right.active {
  transform: translateX(0%);
}

.offcanvas-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.625rem;
  justify-content: space-between;
}

.offcanvas-title {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

.offcanvas-toggle-btn {
  background: transparent;
  padding: 0.625rem;
  margin: 0;
  border: none;
  color: var(--offcanvas-color);
  border-radius: 50%;
}

.offcanvas-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width:48rem) {

  .offcanvas-top,
  .offcanvas-bottom {
    width: 100%;
    height: 50%
  }

  .offcanvas-left,
  .offcanvas-right {
    width: 100%;
    height: 100%;
  }

}

@media (min-width:48rem) {

  .offcanvas-top,
  .offcanvas-bottom {
    width: 100%;
    height: 15vh;
  }

  .offcanvas-left,
  .offcanvas-right {
    width: 30vw;
    height: 100%;
  }
}

.offcanvas-body {
  
  display: block;
  max-height: 100vh;
  overflow-y: scroll;
}

.offcanvas-nav {
  margin:1.25rem 0;
}

.offcanvas-nav>li>a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--offcanvas-nav-items-color);
  transition: all 0.2s;
  cursor: no-drop;
  border-radius: 0.625rem;
}

.offcanvas-nav>li:hover>a {
  background-color: var(--offcanvas-nav-items-hover-bg);
  color: var(--offcanvas-nav-items-hover-color);
}

.offcanvas-nav>li.active>a {
  background-color: var(--offcanvas-nav-items-hover-bg);
  color: var(--offcanvas-nav-items-hover-color);
}

.offcanvas-nav li {
  list-style: none;
}

.offcanvas-nav a {
  text-decoration: none;
}

.offcanvas-nav>li>ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0;
  border-left: solid;
  border-color: #C0C0C0;
  display: none;
}

.offcanvas-nav>li>ul>li>a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--offcanvas-nav-items-color);
  transition: all 0.2s;
  cursor: no-drop;
}

.offcanvas-nav>li>ul>li:hover>a {
  color: var(--offcanvas-nav-items-hover-color);
}

.offcanvas-nav>li>ul>li.active>a {
  color: var(--offcanvas-nav-items-hover-color);
}


.offcanvas-nav>li:hover>ul {
  display: block;
}

.offcanvas-nav>li.active>ul {
  display: block;
}

.offcanvas-nav>li.open>ul {
  display: block;
}