.overlay{
  background: rgba(0, 0, 0, 0.29);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1003;
}

.overlay-blur{
  background: transparent;
  backdrop-filter: blur(8px);
}

.overlay.active{
  display: block;
}