.pagination {
	--pagination-color: var(--body-color);
	--pagination-active-bg: var(--primary-color);
	--pagination-hover-bg: var(--secondary-color);
	--pagination-active-color: var(--pagination-color);
	--pagination-hover-color: var(--pagination-color);

	display: inline-block;
	margin: 5px;
}

.pagination a {
	color: var(--pagination-color);
	float: left;
	margin: 2px;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}

.pagination a.active {
	background-color: var(--pagination-active-bg);
	color: var(--pagination-active-color);
}

.pagination a:hover:not(.active) {
	background-color: var(--pagination-hover-bg);
	color: var(--pagination-hover-color);
}