.progress {
	--progress-bg: var(--secondary-color);
	--progress-bar-bg: var(--primary-color);
	--progress-state: 0%;
	display: block;
	width: 100%;
	background-color: var(--progress-bg);
	border-radius: 5px;
	max-width: 100%;
}


.progress>.bar {
	width: var(--progress-state);
	height: 20px;
	background-color: var(--progress-bar-bg);
	text-align: center;
	max-width: 100%;
}
