.sidebar-container {
  display: flex;
  height: 100vh;
}


.sidebar {
  --sidebar-main-bg: var(--main-bg);
  --sidebar-main-color: var(--main-color);
  --sidebar-nav-items-color: var(--sidebar-main-color);
  --sidebar-nav-items-hover-color: var(--primary-color);
  border-right: solid;
  border-color: var(--secondary-color);
  height: 99.9999vh;
  max-height: 99.9999vh;
  max-width: 35vw;
  position: relative;
  background-color: var(--sidebar-main-bg);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
}

.sidebar-toggle-btn,
.sidebar-icon-btn {
  background: transparent;
  border: none;
  font-size: 30px;
  padding: 0.3rem;
  border-radius: 50%;
  transition: background 0.5s;
  color: var(--sidebar-btn-color);
}

.sidebar-toggle-btn:hover,
.sidebar-icon-btn:hover {
  background-color: var(--secondary-color);
}

.sidebar-body {
  padding: 0.3rem;
}

.sidebar-nav {
  margin: 5px;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.sidebar-nav>li>a {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  color: black;
  transition: 0.5s;
  cursor: none;
  color: var(--sidebar-nav-items-color);
}

.sidebar-nav>li:hover>a {
  background-color: var(--secondary-color);
  color: var(--sidebar-nav-items-hover-color);
}

.sidebar-nav>li>a>.icon {
  vertical-align: middle;
  font-size: 25px;
}

.sidebar-nav>li>a>.text {
  font-size: 16px;
  margin-left: 0.2rem !important;
  line-height: 0;
  vertical-align: middle;
}

.sidebar-title {
  margin: 0;
  padding: 0;
}


.sidebar-nav>li>ul {
  display: none;
  margin-top: 0.2rem;
  padding: 0;
  background-color: var(--sidebar-main-bg);
  padding: 0.5rem;
}

.sidebar-nav>li>ul>li>a {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 10px;
  transition: 0.5s;
}

.sidebar-nav>li>ul>li:hover>a {
  color: var(--sidebar-nav-items-hover-color);
  background-color: var(--secondary-color);
}

.sidebar-nav>li:hover>ul {
  display: block;
}

.sidebar-nav .sidebar-toggle-btn {
  margin: 0.5rem;
}

.contents {
  width: 100%;
  max-width: 99.9999999%;
  max-height: 99.99999vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding: 2rem;
}

@media (min-width: 48rem) {
  .sidebar-icon-btn {
    display: none;
  }

  .sidebar-icon .sidebar-nav>li>a>.text {
    display: none !important;
  }

  .sidebar:not(.sidebar-icon) {
    width: 30vw;
  }
}

@media (max-width:48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    width: 100% !important;
    max-width: 100%;
    z-index: 1003;
    background-color: var(--sidebar-main-bg);
  }

  .sidebar-body {
    padding: 0 !important;
  }

  .sidebar.active {
    transform: translateX(0%);
  }

  .sidebar-toggle-btn {
    margin: 1rem !important;
  }
}