.sidebar {
  --sidebar-bg: var(--main-bg);
  --sidebar-btn-toggle-color: var(--main-color);
  --sidebar-brand-text-color: var(--main-color);
  --sidebar-nav-items-color: var(--main-color);
  --sidebar-nav-items-hover-color: var(--primary-color);
  background-color: var(--sidebar-bg);
  min-height: 100vh;
  border-right: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  z-index: 999;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.89rem 0;
  column-gap: 10px;
}

.sidebar-brand-img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.sidebar-brand-text {
  font-size: 24px;
  font-weight: 350;
  margin: 0;
  color: var(--sidebar-brand-text-color);
}

.sidebar-btn-toggle {
  margin: 0 0.3rem;
  background: transparent;
  border: none;
  font-size: 25px;
  color: var(--sidebar-btn-toggle-color);
}

.sidebar-nav li {
  list-style: none;
}

.sidebar-nav a {
  text-decoration: none;
}

.sidebar-nav {
  padding: .5rem;
}

.sidebar-nav>li>a {

  display: flex;
  align-items: center;
  padding: 1rem;
  column-gap: 10px;
  cursor: none;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--sidebar-nav-items-color);
}

.sidebar-nav>li>a * {
  pointer-events: none;
}

.sidebar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--sidebar-nav-items-hover-color);
}


.sidebar-nav>li>ul {
  display: none;
  margin: 0.7rem 0;
}

.sidebar-nav>li>ul.open {
  display: block;
}

.sidebar-nav>li>ul>li>a {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  column-gap: 10px;
  cursor: none;
  transition: 0.5s;
  border-radius: 10px;
  color: var(--sidebar-nav-items-color);
}

.sidebar-nav>li>ul>li>a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--sidebar-nav-items-hover-color);
}

.sidebar-container {
  display: flex;
}

.sidebar-container .sidebar {
  flex: 25rem;
}


@media (max-width: 48rem) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  .sidebar.active {
    transform: translateX(0%);
  }
}

@media (min-width:48rem) {
  .sidebar-container .contents {
    flex: 100%;
  }


  .sidebar-container .contents {
    height: 100vh;
    max-height: 100%;
    overflow-y: scroll;
    width: auto;
  }

  .sidebar-icon {
    transition: 0.5s;
    flex: 1rem !important;
  }

  .sidebar-icon .icon {
    font-size: 25px;

  }


  .sidebar-icon~.contents {
    flex: 100%;
  }

  .sidebar-icon .sidebar-brand-text {
    display: none;
  }

  .sidebar-icon .text {
    display: none;
  }

  .sidebar-icon .sidebar-nav>li>ul {
    display: none;
  }

  .sidebar-icon.active {
    flex: 25rem !important;
  }

  .sidebar-icon .open {
    display: none;
  }

  .sidebar-icon.active .open {
    display: inherit;
  }

  .sidebar-icon.active .sidebar-brand-text {
    display: block;
  }
}

.sidebar.active .sidebar-btn-open {
  display: none;
}

.sidebar.active .sidebar-btn-close {
  display: block;
}

.sideba .sidebar-btn-open {
  display: block;
}

.sidebar .sidebar-btn-close {
  display: none;

}

.contents {}