.tab {
  --tab-item-color: var(--body-color);
  --tab-item-active-bg: transparent;
  --tab-item-active-color: var(--primary-color);
  margin: 5px;
  display: block;
  list-style: none;
  flex-wrap: wrap;
}

.tab-items {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 10%;
  overflow: hidden;
  max-width: 98%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}

.tab-items>li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  background: transparent;
  color: var(--tab-item-color);
  text-align: center;
  border-bottom: none;
  border-bottom-color: #9C9C9C;
  border-bottom-width: 1px;
  /*border-radius: 20px;*/
}

.tab-items>li.active {
  background: var(--tab-item-active-bg);
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--tab-item-active-color);
  color: var(--tab-item-active-color);
}

.tab>.tab-contents {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 16px;
}

.tab-contents>* {
  display: none;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.tab-contents>*.active {
  display: block;
}