.tab {
  --tab-color: var(--main-color);
  --tab-active-color: var(--primary-color);
  --tab-hover-color: var(--secondary-color);
}

.tab-items {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 2rem;
  padding: 0;
}

.tab-items .tab-item.active {
  color: var(--tab-active-color);
  border-bottom-color: currentColor;
}

.tab-items .tab-item {
  cursor: no-drop;
  white-space: nowrap;
  padding: 10px 15px;

  color: var(--tab-color);
  font-weight: 500;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border-bottom: 1px solid transparent;
}


.tab-items .tab-item:hover {
  transition: 0.5s;
  background-color: var(--tab-hover-color);
}

.tab-contents {
  display: none;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.tab-contents.active {
  display: block;
}