#toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-20px);
  text-align: center;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Base styles for each toast type */
.toast-primary,
.toast-secondary,
.toast-success,
.toast-info,
.toast-warning,
.toast-danger,
.toast-light,
.toast-dark,
.toast-muted {
  background-color: var(--color);
  color: var(--color-text);
}

.toast-primary {
  color: var(--color-primary-text);
  background-color: var(--color-primary);
}

.toast-primary:hover {
  background-color: var(--color-primary-hover);
}

.toast-secondary {
  color: var(--color-secondary-text);
  background-color: var(--color-secondary);
}

.toast-secondary:hover {
  background-color: var(--color-secondary-hover);
}

.toast-success {
  color: var(--color-success-text);
  background-color: var(--color-success);
}

.toast-success:hover {
  background-color: var(--color-success-hover);
}

.toast-info {
  color: var(--color-info-text);
  background-color: var(--color-info);
}

.toast-info:hover {
  background-color: var(--color-info-hover);
}

.toast-warning {
  color: var(--color-warning-text);
  background-color: var(--color-warning);
}

.toast-warning:hover {
  background-color: var(--color-warning-hover);
}

.toast-danger {
  color: var(--color-danger-text);
  background-color: var(--color-danger);
}

.toast-danger:hover {
  background-color: var(--color-danger-hover);
}

.toast-light {
  color: var(--color-light-text);
  background-color: var(--color-light);
}

.toast-light:hover {
  background-color: var(--color-light-hover);
}

.toast-dark {
  color: var(--color-dark-text);
  background-color: var(--color-dark);
}

.toast-dark:hover {
  background-color: var(--color-dark-hover);
}

.toast-muted {
  color: var(--color-muted-text);
  background-color: var(--color-muted);
}