/* Primary */
.color-primary {
  color: var(--color-primary);
}
.color-primary-text {
  color: var(--color-primary-text);
}

/* Secondary */
.color-secondary {
  color: var(--color-secondary);
}
.color-secondary-text {
  color: var(--color-secondary-text);
}

/* Success */
.color-success {
  color: var(--color-success);
}
.color-success-text {
  color: var(--color-success-text);
}

/* Info */
.color-info {
  color: var(--color-info);
}
.color-info-text {
  color: var(--color-info-text);
}

/* Warning */
.color-warning {
  color: var(--color-warning);
}
.color-warning-text {
  color: var(--color-warning-text);
}

/* Danger */
.color-danger {
  color: var(--color-danger);
}
.color-danger-text {
  color: var(--color-danger-text);
}

/* Light */
.color-light {
  color: var(--color-light);
}
.color-light-text {
  color: var(--color-light-text);
}

/* Dark */
.color-dark {
  color: var(--color-dark);
}
.color-dark-text {
  color: var(--color-dark-text);
}

/* Additional Colors */
.color-muted {
  color: var(--color-muted);
}
.color-muted-text {
  color: var(--color-muted-text);
}

/* Links */
.color-link {
  color: var(--color-link);
}

/* General Colors */
.color-main {
  color: var(--main-color);
}
.color-text {
  color: var(--color-text);
}
.color-heading {
  color: var(--color-heading);
}