.bg-transparent {
  background-color: transparent
}

.bg-white {
  background-color: #fff
}

.bg-black {
  background-color: #000
}

.bg-none {
  background-color: none
}

.bg-primary {
  background-color: var(--primary-color)
}

.bg-primary-hover:hover {
  background-color: var(--primary-color)
}

.bg-info {
  background-color: var(--info-color)
}

.bg-info-hover:hover {
  background-color: var(--info-color)
}

.bg-success {
  background-color: var(--success-color)
}

.bg-success-hover:hover {
  background-color: var(--success-color)
}

.bg-warn {
  background-color: var(--warn-color);
}

.bg-warn-hover:hover {
  background-color: var(--warn-color);
}

.bg-danger {
  background-color: var(--danger-color);
}

.bg-danger-hover:hover {
  background-color: var(--danger-color);
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.color-primary {
  color: var(--primary-color);
}

.color-primary-hover:hover {
  color: var(--primary-color);
}

.color-info {
  color: var(--info-color);
}

.color-info-hover:hover {
  color: var(--info-color);
}

.color-success {
  color: var(--success-color);
}

.color-success-hover:hover {
  color: var(--success-color);
}

.color-warn {
  color: var(--warn-color);
}

.color-warn-hover:hover {
  color: var(--warn-color);
}

.color-danger {
  color: var(--danger-color);
}

.color-danger-hover:hover {
  color: var(--danger-color);
}