.ml-0 {
 margin-left: 0;
}

.ml-auto {
 margin-left: auto;
}

.ml-1 {
 margin-left: var(--sizemargin-xxs);
}

.ml-2 {
 margin-left: var(--sizemargin-xs);
}

.ml-3 {
 margin-left: var(--sizemargin-sm);
}

.ml-4 {
 margin-left: var(--sizemargin-md);
}

.ml-5 {
 margin-left: var(--sizemargin-lg);
}

.ml-6 {
 margin-left: var(--sizemargin-xl);
}

.ml-7 {
 margin-left: var(--sizemargin-xxl);
}

.mr-0 {
 margin-right: 0;
}

.mr-auto {
 margin-right: 0;
}

.mr-1 {
 margin-right: var(--sizemargin-xxs);
}

.mr-2 {
 margin-right: var(--sizemargin-xs);
}

.mr-3 {
 margin-right: var(--sizemargin-sm);
}

.mr-4 {
 margin-right: var(--sizemargin-md);
}

.mr-5 {
 margin-right: var(--sizemargin-lg);
}

.mr-6 {
 margin-right: var(--sizemargin-xl);
}

.mr-7 {
 margin-right: var(--sizemargin-xxl);
}

.mt-0 {
 margin-top: 0;
}

.mt-auto {
 margin-top: 0;
}

.mt-1 {
 margin-top: var(--sizemargin-xxs);
}

.mt-2 {
 margin-top: var(--sizemargin-xs);
}

.mt-3 {
 margin-top: var(--sizemargin-sm);
}

.mt-4 {
 margin-top: var(--sizemargin-md);
}

.mt-5 {
 margin-top: var(--sizemargin-lg);
}

.mt-6 {
 margin-top: var(--sizemargin-xl);
}

.mt-7 {
 margin-top: var(--sizemargin-xxl);
}

.mb-0 {
 margin-bottom: 0;
}

.mb-auto {
 margin-bottom: auto;
}

.mb-1 {
 margin-bottom: var(--sizemargin-xxs);
}

.mb-2 {
 margin-bottom: var(--sizemargin-xs);
}

.mb-3 {
 margin-bottom: var(--sizemargin-sm);
}

.mb-4 {
 margin-bottom: var(--sizemargin-md);
}

.mb-5 {
 margin-bottom: var(--sizemargin-lg);
}

.mb-6 {
 margin-bottom: var(--sizemargin-xl);
}

.mb-7 {
 margin-bottom: var(--sizemargin-xxl);
}

.mx-0 {
 margin-left: 0;
 margin-right: 0;
}

.my-auto {
 margin-left: auto;
 margin-right: auto;
}

.mx-1 {
 margin-left: var(--sizemargin-xxs);
 margin-right: var(--sizemargin-xxs);
}

.mx-2 {
 margin-left: var(--sizemargin-xs);
 margin-right: var(--sizemargin-xs);
}

.mx-3 {
 margin-left: var(--sizemargin-sm);
 margin-right: var(--sizemargin-sm);
}

.mx-4 {
 margin-left: var(--sizemargin-md);
 margin-right: var(--sizemargin-md);
}

.mx-5 {
 margin-left: var(--sizemargin-lg);
 margin-right: var(--sizemargin-lg);
}

.mx-6 {
 margin-left: var(--sizemargin-xl);
 margin-right: var(--sizemargin-xl);
}

.mx-7 {
 margin-left: var(--sizemargin-xxl);
 margin-right: var(--sizemargin-xxl);
}

.mt-0 {
 margin-top: 0;
 margin-bottom: 0;
}

.my-auto {
 margin-top: auto;
 margin-bottom: auto;
}

.my-1 {
 margin-top: var(--sizemargin-xxs);
 margin-bottom: var(--sizemargin-xxs);
}

.my-2 {
 margin-top: var(--sizemargin-xs);
 margin-bottom: var(--sizemargin-xs);
}

.my-3 {
 margin-top: var(--sizemargin-sm);
 margin-bottom: var(--sizemargin-sm);
}

.my-4 {
 margin-top: var(--sizemargin-md);
 margin-bottom: var(--sizemargin-md);
}

.my-5 {
 margin-top: var(--sizemargin-lg);
 margin-bottom: var(--sizemargin-lg);
}

.my-6 {
 margin-top: var(--sizemargin-xl);
 margin-bottom: var(--sizemargin-xl);
}

.my-7 {
 margin-top: var(--sizemargin-xxl);
 margin-bottom: var(--sizemargin-xxl);
}

.m-0 {
 margin: 0;
}

.m-auto {
 margin: auto;
}

.m-1 {
 margin: var(--sizemargin-xxs);
}

.m-2 {
 margin: var(--sizemargin-xs);
}

.m-3 {
 margin: var(--sizemargin-sm);
}

.m-4 {
 margin: var(--sizemargin-md);
}

.m-5 {
 margin: var(--sizemargin-lg);
}

.m-6 {
 margin: var(--sizemargin-xl);
}

.m-7 {
 margin: var(--sizemargin-xxl);
}


@media (max-width:480px) {
  .sm-ml-0 {
   margin-left: 0;
  }

  .sm-ml-auto {
   margin-left: auto;
  }

  .sm-ml-1 {
   margin-left: var(--sizemargin-xxs);
  }

  .sm-ml-2 {
   margin-left: var(--sizemargin-xs);
  }

  .sm-ml-3 {
   margin-left: var(--sizemargin-sm);
  }

  .sm-ml-4 {
   margin-left: var(--sizemargin-md);
  }

  .sm-ml-5 {
   margin-left: var(--sizemargin-lg);
  }

  .sm-ml-6 {
   margin-left: var(--sizemargin-xl);
  }

  .sm-ml-7 {
   margin-left: var(--sizemargin-xxl);
  }

  .sm-mr-0 {
   margin-right: 0;
  }

  .sm-mr-auto {
   margin-right: 0;
  }

  .sm-mr-1 {
   margin-right: var(--sizemargin-xxs);
  }

  .sm-mr-2 {
   margin-right: var(--sizemargin-xs);
  }

  .sm-mr-3 {
   margin-right: var(--sizemargin-sm);
  }

  .sm-mr-4 {
   margin-right: var(--sizemargin-md);
  }

  .sm-mr-5 {
   margin-right: var(--sizemargin-lg);
  }

  .sm-mr-6 {
   margin-right: var(--sizemargin-xl);
  }

  .sm-mr-7 {
   margin-right: var(--sizemargin-xxl);
  }

  .sm-mt-0 {
   margin-top: 0;
  }

  .sm-mt-auto {
   margin-top: 0;
  }

  .sm-mt-1 {
   margin-top: var(--sizemargin-xxs);
  }

  .sm-mt-2 {
   margin-top: var(--sizemargin-xs);
  }

  .sm-mt-3 {
   margin-top: var(--sizemargin-sm);
  }

  .sm-mt-4 {
   margin-top: var(--sizemargin-md);
  }

  .sm-mt-5 {
   margin-top: var(--sizemargin-lg);
  }

  .sm-mt-6 {
   margin-top: var(--sizemargin-xl);
  }

  .sm-mt-7 {
   margin-top: var(--sizemargin-xxl);
  }

  .sm-mb-0 {
   margin-bottom: 0;
  }

  .sm-mb-auto {
   margin-bottom: auto;
  }

  .sm-mb-1 {
   margin-bottom: var(--sizemargin-xxs);
  }

  .sm-mb-2 {
   margin-bottom: var(--sizemargin-xs);
  }

  .sm-mb-3 {
   margin-bottom: var(--sizemargin-sm);
  }

  .sm-mb-4 {
   margin-bottom: var(--sizemargin-md);
  }

  .sm-mb-5 {
   margin-bottom: var(--sizemargin-lg);
  }

  .sm-mb-6 {
   margin-bottom: var(--sizemargin-xl);
  }

  .sm-mb-7 {
   margin-bottom: var(--sizemargin-xxl);
  }

  .sm-mx-0 {
   margin-left: 0;
   margin-right: 0;
  }

  .sm-my-auto {
   margin-left: auto;
   margin-right: auto;
  }

  .sm-mx-1 {
   margin-left: var(--sizemargin-xxs);
   margin-right: var(--sizemargin-xxs);
  }

  .sm-mx-2 {
   margin-left: var(--sizemargin-xs);
   margin-right: var(--sizemargin-xs);
  }

  .sm-mx-3 {
   margin-left: var(--sizemargin-sm);
   margin-right: var(--sizemargin-sm);
  }

  .sm-mx-4 {
   margin-left: var(--sizemargin-md);
   margin-right: var(--sizemargin-md);
  }

  .sm-mx-5 {
   margin-left: var(--sizemargin-lg);
   margin-right: var(--sizemargin-lg);
  }

  .sm-mx-6 {
   margin-left: var(--sizemargin-xl);
   margin-right: var(--sizemargin-xl);
  }

  .sm-mx-7 {
   margin-left: var(--sizemargin-xxl);
   margin-right: var(--sizemargin-xxl);
  }

  .sm-mt-0 {
   margin-top: 0;
   margin-bottom: 0;
  }

  .sm-my-auto {
   margin-top: auto;
   margin-bottom: auto;
  }

  .sm-my-1 {
   margin-top: var(--sizemargin-xxs);
   margin-bottom: var(--sizemargin-xxs);
  }

  .sm-my-2 {
   margin-top: var(--sizemargin-xs);
   margin-bottom: var(--sizemargin-xs);
  }

  .sm-my-3 {
   margin-top: var(--sizemargin-sm);
   margin-bottom: var(--sizemargin-sm);
  }

  .sm-my-4 {
   margin-top: var(--sizemargin-md);
   margin-bottom: var(--sizemargin-md);
  }

  .sm-my-5 {
   margin-top: var(--sizemargin-lg);
   margin-bottom: var(--sizemargin-lg);
  }

  .sm-my-6 {
   margin-top: var(--sizemargin-xl);
   margin-bottom: var(--sizemargin-xl);
  }

  .sm-my-7 {
   margin-top: var(--sizemargin-xxl);
   margin-bottom: var(--sizemargin-xxl);
  }

  .sm-m-0 {
   margin: 0;
  }

  .sm-m-auto {
   margin: auto;
  }

  .sm-m-1 {
   margin: var(--sizemargin-xxs);
  }

  .sm-m-2 {
   margin: var(--sizemargin-xs);
  }

  .sm-m-3 {
   margin: var(--sizemargin-sm);
  }

  .sm-m-4 {
   margin: var(--sizemargin-md);
  }

  .sm-m-5 {
   margin: var(--sizemargin-lg);
  }

  .sm-m-6 {
   margin: var(--sizemargin-xl);
  }

  .sm-m-7 {
   margin: var(--sizemargin-xxl);
  }
}
@media (min-width: 768px) {
  .md-ml-0 {
   margin-left: 0;
  }

  .md-ml-auto {
   margin-left: auto;
  }

  .md-ml-1 {
   margin-left: var(--sizemargin-xxs);
  }

  .md-ml-2 {
   margin-left: var(--sizemargin-xs);
  }

  .md-ml-3 {
   margin-left: var(--sizemargin-md);
  }

  .md-ml-4 {
   margin-left: var(--sizemargin-md);
  }

  .md-ml-5 {
   margin-left: var(--sizemargin-lg);
  }

  .md-ml-6 {
   margin-left: var(--sizemargin-xl);
  }

  .md-ml-7 {
   margin-left: var(--sizemargin-xxl);
  }

  .md-mr-0 {
   margin-right: 0;
  }

  .md-mr-auto {
   margin-right: 0;
  }

  .md-mr-1 {
   margin-right: var(--sizemargin-xxs);
  }

  .md-mr-2 {
   margin-right: var(--sizemargin-xs);
  }

  .md-mr-3 {
   margin-right: var(--sizemargin-md);
  }

  .md-mr-4 {
   margin-right: var(--sizemargin-md);
  }

  .md-mr-5 {
   margin-right: var(--sizemargin-lg);
  }

  .md-mr-6 {
   margin-right: var(--sizemargin-xl);
  }

  .md-mr-7 {
   margin-right: var(--sizemargin-xxl);
  }

  .md-mt-0 {
   margin-top: 0;
  }

  .md-mt-auto {
   margin-top: 0;
  }

  .md-mt-1 {
   margin-top: var(--sizemargin-xxs);
  }

  .md-mt-2 {
   margin-top: var(--sizemargin-xs);
  }

  .md-mt-3 {
   margin-top: var(--sizemargin-md);
  }

  .md-mt-4 {
   margin-top: var(--sizemargin-md);
  }

  .md-mt-5 {
   margin-top: var(--sizemargin-lg);
  }

  .md-mt-6 {
   margin-top: var(--sizemargin-xl);
  }

  .md-mt-7 {
   margin-top: var(--sizemargin-xxl);
  }

  .md-mb-0 {
   margin-bottom: 0;
  }

  .md-mb-auto {
   margin-bottom: auto;
  }

  .md-mb-1 {
   margin-bottom: var(--sizemargin-xxs);
  }

  .md-mb-2 {
   margin-bottom: var(--sizemargin-xs);
  }

  .md-mb-3 {
   margin-bottom: var(--sizemargin-md);
  }

  .md-mb-4 {
   margin-bottom: var(--sizemargin-md);
  }

  .md-mb-5 {
   margin-bottom: var(--sizemargin-lg);
  }

  .md-mb-6 {
   margin-bottom: var(--sizemargin-xl);
  }

  .md-mb-7 {
   margin-bottom: var(--sizemargin-xxl);
  }

  .md-mx-0 {
   margin-left: 0;
   margin-right: 0;
  }

  .md-my-auto {
   margin-left: auto;
   margin-right: auto;
  }

  .md-mx-1 {
   margin-left: var(--sizemargin-xxs);
   margin-right: var(--sizemargin-xxs);
  }

  .md-mx-2 {
   margin-left: var(--sizemargin-xs);
   margin-right: var(--sizemargin-xs);
  }

  .md-mx-3 {
   margin-left: var(--sizemargin-md);
   margin-right: var(--sizemargin-md);
  }

  .md-mx-4 {
   margin-left: var(--sizemargin-md);
   margin-right: var(--sizemargin-md);
  }

  .md-mx-5 {
   margin-left: var(--sizemargin-lg);
   margin-right: var(--sizemargin-lg);
  }

  .md-mx-6 {
   margin-left: var(--sizemargin-xl);
   margin-right: var(--sizemargin-xl);
  }

  .md-mx-7 {
   margin-left: var(--sizemargin-xxl);
   margin-right: var(--sizemargin-xxl);
  }

  .md-mt-0 {
   margin-top: 0;
   margin-bottom: 0;
  }

  .md-my-auto {
   margin-top: auto;
   margin-bottom: auto;
  }

  .md-my-1 {
   margin-top: var(--sizemargin-xxs);
   margin-bottom: var(--sizemargin-xxs);
  }

  .md-my-2 {
   margin-top: var(--sizemargin-xs);
   margin-bottom: var(--sizemargin-xs);
  }

  .md-my-3 {
   margin-top: var(--sizemargin-md);
   margin-bottom: var(--sizemargin-md);
  }

  .md-my-4 {
   margin-top: var(--sizemargin-md);
   margin-bottom: var(--sizemargin-md);
  }

  .md-my-5 {
   margin-top: var(--sizemargin-lg);
   margin-bottom: var(--sizemargin-lg);
  }

  .md-my-6 {
   margin-top: var(--sizemargin-xl);
   margin-bottom: var(--sizemargin-xl);
  }

  .md-my-7 {
   margin-top: var(--sizemargin-xxl);
   margin-bottom: var(--sizemargin-xxl);
  }

  .md-m-0 {
   margin: 0;
  }

  .md-m-auto {
   margin: auto;
  }

  .md-m-1 {
   margin: var(--sizemargin-xxs);
  }

  .md-m-2 {
   margin: var(--sizemargin-xs);
  }

  .md-m-3 {
   margin: var(--sizemargin-md);
  }

  .md-m-4 {
   margin: var(--sizemargin-md);
  }

  .md-m-5 {
   margin: var(--sizemargin-lg);
  }

  .md-m-6 {
   margin: var(--sizemargin-xl);
  }

  .md-m-7 {
   margin: var(--sizemargin-xxl);
  }
}
@media (min-width:1024px) {
  .lg-ml-0 {
   margin-left: 0;
  }

  .lg-ml-auto {
   margin-left: auto;
  }

  .lg-ml-1 {
   margin-left: var(--sizemargin-xxs);
  }

  .lg-ml-2 {
   margin-left: var(--sizemargin-xs);
  }

  .lg-ml-3 {
   margin-left: var(--sizemargin-lg);
  }

  .lg-ml-4 {
   margin-left: var(--sizemargin-lg);
  }

  .lg-ml-5 {
   margin-left: var(--sizemargin-lg);
  }

  .lg-ml-6 {
   margin-left: var(--sizemargin-xl);
  }

  .lg-ml-7 {
   margin-left: var(--sizemargin-xxl);
  }

  .lg-mr-0 {
   margin-right: 0;
  }

  .lg-mr-auto {
   margin-right: 0;
  }

  .lg-mr-1 {
   margin-right: var(--sizemargin-xxs);
  }

  .lg-mr-2 {
   margin-right: var(--sizemargin-xs);
  }

  .lg-mr-3 {
   margin-right: var(--sizemargin-lg);
  }

  .lg-mr-4 {
   margin-right: var(--sizemargin-lg);
  }

  .lg-mr-5 {
   margin-right: var(--sizemargin-lg);
  }

  .lg-mr-6 {
   margin-right: var(--sizemargin-xl);
  }

  .lg-mr-7 {
   margin-right: var(--sizemargin-xxl);
  }

  .lg-mt-0 {
   margin-top: 0;
  }

  .lg-mt-auto {
   margin-top: 0;
  }

  .lg-mt-1 {
   margin-top: var(--sizemargin-xxs);
  }

  .lg-mt-2 {
   margin-top: var(--sizemargin-xs);
  }

  .lg-mt-3 {
   margin-top: var(--sizemargin-lg);
  }

  .lg-mt-4 {
   margin-top: var(--sizemargin-lg);
  }

  .lg-mt-5 {
   margin-top: var(--sizemargin-lg);
  }

  .lg-mt-6 {
   margin-top: var(--sizemargin-xl);
  }

  .lg-mt-7 {
   margin-top: var(--sizemargin-xxl);
  }

  .lg-mb-0 {
   margin-bottom: 0;
  }

  .lg-mb-auto {
   margin-bottom: auto;
  }

  .lg-mb-1 {
   margin-bottom: var(--sizemargin-xxs);
  }

  .lg-mb-2 {
   margin-bottom: var(--sizemargin-xs);
  }

  .lg-mb-3 {
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-mb-4 {
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-mb-5 {
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-mb-6 {
   margin-bottom: var(--sizemargin-xl);
  }

  .lg-mb-7 {
   margin-bottom: var(--sizemargin-xxl);
  }

  .lg-mx-0 {
   margin-left: 0;
   margin-right: 0;
  }

  .lg-my-auto {
   margin-left: auto;
   margin-right: auto;
  }

  .lg-mx-1 {
   margin-left: var(--sizemargin-xxs);
   margin-right: var(--sizemargin-xxs);
  }

  .lg-mx-2 {
   margin-left: var(--sizemargin-xs);
   margin-right: var(--sizemargin-xs);
  }

  .lg-mx-3 {
   margin-left: var(--sizemargin-lg);
   margin-right: var(--sizemargin-lg);
  }

  .lg-mx-4 {
   margin-left: var(--sizemargin-lg);
   margin-right: var(--sizemargin-lg);
  }

  .lg-mx-5 {
   margin-left: var(--sizemargin-lg);
   margin-right: var(--sizemargin-lg);
  }

  .lg-mx-6 {
   margin-left: var(--sizemargin-xl);
   margin-right: var(--sizemargin-xl);
  }

  .lg-mx-7 {
   margin-left: var(--sizemargin-xxl);
   margin-right: var(--sizemargin-xxl);
  }

  .lg-mt-0 {
   margin-top: 0;
   margin-bottom: 0;
  }

  .lg-my-auto {
   margin-top: auto;
   margin-bottom: auto;
  }

  .lg-my-1 {
   margin-top: var(--sizemargin-xxs);
   margin-bottom: var(--sizemargin-xxs);
  }

  .lg-my-2 {
   margin-top: var(--sizemargin-xs);
   margin-bottom: var(--sizemargin-xs);
  }

  .lg-my-3 {
   margin-top: var(--sizemargin-lg);
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-my-4 {
   margin-top: var(--sizemargin-lg);
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-my-5 {
   margin-top: var(--sizemargin-lg);
   margin-bottom: var(--sizemargin-lg);
  }

  .lg-my-6 {
   margin-top: var(--sizemargin-xl);
   margin-bottom: var(--sizemargin-xl);
  }

  .lg-my-7 {
   margin-top: var(--sizemargin-xxl);
   margin-bottom: var(--sizemargin-xxl);
  }

  .lg-m-0 {
   margin: 0;
  }

  .lg-m-auto {
   margin: auto;
  }

  .lg-m-1 {
   margin: var(--sizemargin-xxs);
  }

  .lg-m-2 {
   margin: var(--sizemargin-xs);
  }

  .lg-m-3 {
   margin: var(--sizemargin-lg);
  }

  .lg-m-4 {
   margin: var(--sizemargin-lg);
  }

  .lg-m-5 {
   margin: var(--sizemargin-lg);
  }

  .lg-m-6 {
   margin: var(--sizemargin-xl);
  }

  .lg-m-7 {
   margin: var(--sizemargin-xxl);
  }
}