.pos-fixed {
  position: fixed;
  z-index: 1000;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}