@import "./Components/avatar.css";
@import "./Components/containers.css";
@import "./Components/navbar.css";
@import "./Components/sidebar.css";
@import "./Components/offcanvas.css";
@import "./Components/modal.css";
@import "./Components/toasts.css";
@import "./Components/overlay.css";
@import "./Components/tab.css";
@import "./Components/button.css";
@import "./Components/loader.css";
@import "./Components/form";
@import "./Components/breadcrumb.css";
@import "./Components/accordion.css";
@import "./Components/card.css";
@import "./Options/color.css";
@import "./Options/effect.css";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: 0, 156, 255;
  --info-color: 0, 222, 255;
  --success-color: 0, 255, 64;
  --warn-color:251, 199, 0;
  --danger-color:225, 0, 0;
  --on-primary: black;
  --on-info: black;
  --on-success: black;
  --on-warn: black;
  --on-danger: black;

}


.icon {
  margin: 0px 5px;
}