@import "./libraries/animate.min.css";
@import "./libraries/normalize.css";
@import "./components/sidebar.css";
@import "./components/navbar.css";
@import "./components/offcanvas.css";
@import "./components/form.css";
@import "./components/badge.css";
@import "./components/accordion.css";
@import "./components/list.css";
@import "./components/toast.css";
@import "./components/alert.css";
@import "./components/card.css";
@import "./components/loader.css";
@import "./components/tab.css";
@import "./components/modal.css";
@import "./components/overlay.css";
@import "./components/table.css";
@import "./components/bottomsheet.css";
@import "./components/button.css";
@import "./components/avatar.css";

@import "./helpers/animations.css";
@import "./helpers/border.css";
@import "./helpers/color.css";
@import "./helpers/display.css";
@import "./helpers/effect.css";
@import "./helpers/flex.css";
@import "./helpers/margin.css";
@import "./helpers/overflow.css";
@import "./helpers/padding.css";
@import "./helpers/position.css";
@import "./helpers/text.css";


body[data-theme="light"] {
  --main-border-color-translucent: rgba(0, 0, 0, 0.08);
  --main-border-color: rgba(0, 0, 0, 0.1);
  --main-selection-bg: rgba(0, 0, 0, 0.05);
  --main-bg: white;
  --main-color: black;
  --primary-color: #0d6efd;
  --secondary-color: rgba(0, 0, 0, 0.05);
  --info-color: #0DC6FD;
  --success-color: #198754;
  --warn-color: #FFC107;
  --danger-color: #dc3545;

  --primary-color-subtle: #0067FF7A;
  --info-color-subtle: rgba(217, 237, 247, 0.8);
  --success-color-subtle: rgba(227, 253, 235, 0.8);
  --warn-color-subtle: rgba(255, 218, 108, 0.3);
  --danger-color-subtle: rgba(248, 215, 218, 1);

  --primary-text-emphasis: #0D3B7F;
  --info-text-emphasis: rgba(21, 184, 216, 1);
  --success-text-emphasis: rgba(38, 179, 3, 1);
  --warn-text-emphasis: rgba(144, 114, 50, 1);
  --danger-text-emphasis: rgba(220, 53, 69, 1);

  --on-primary: white;
  --on-info: white;
  --on-success: white;
  --on-warn: black;
  --on-danger: white;
  --main-border-color: rgba(0, 0, 0, 0.07);
  --main-selection-bg: rgba(0, 0, 0, 0.05);

}


body[data-theme="dark"] {
  --main-color: #dee2e6;
  --main-bg: #212529;
  --main-color: white;
  --main-border-color: #495057;
  --main-border-color-translucent: rgba(255, 255, 255, 0.15);
  --main-selection-bg: #FFFFFF0F;
  --primary-color: #0d6efd;
  --secondary-color: #E6E6E63D;
  --info-color: #0DC6FD;
  --success-color: #198754;
  --warn-color: #FFC107;
  --danger-color: #dc3545;

  --primary-color-subtle: #031633;
  --info-color-subtle: #032830;
  --success-color-subtle: #051b11;
  --warn-color-subtle: #332701;
  --danger-color-subtle: #2c0b0e;

  --primary-text-emphasis: #6ea8fe;
  --success-text-emphasis: #75b798;
  --info-text-emphasis: #6edff6;
  --warn-text-emphasis: #ffda6a;
  --danger-text-emphasis: #ea868f;
  --light-text-emphasis: #f8f9fa;
  --dark-text-emphasis: #dee2e6;

  --on-primary: white;
  --on-info: white;
  --on-success: white;
  --on-warn: black;
  --on-danger: white;

}
html,
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--main-bg);
  color: var(--main-color);

}