.sidebar {
	--sidebar-bg: white;
	--sidebar-color: black;
	--sidebar-items-color: var(--sidebar-color);
	--sidebar-items-hover-color: var(--primary-color);
	--sidebar-items-hover-bg: rgba(0, 0, 0, 0.05);
	width: 100%;
	height: 90vh;
	max-height: 99vh;
	overflow-y: scroll;
	z-index: 1003;
}

.sidebar li {
	list-style: none;
}

.sidebar a {
	text-decoration: none;
}

.sidebar hr {
	outline: none;
	color:rbga(0,0,0,0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar-menu {
	padding: 0;
	max-height: 100vh;
	overflow-y: scroll;
	margin-bottom: 1.875rem;
	width: 100%;

	li>a {
		display: flex;
		align-items: center;
		padding: 1rem;
		color: var(--sidebar-items-color);
		transition: all 0.2s;
		cursor: no-drop;
	}

	li:hover>a {
		background-color: var(--sidebar-items-hover-bg);
		color: var(--sidebar-items-hover-color);
	}

	li.active>a {
		background-color: var(--sidebar-items-hover-bg);
		color: var(--sidebar-items-hover-color);
	}

	li>ul {
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
		padding: 0;
		border-left: solid;
		border-color: #C0C0C0;
		display: none;

	}

	li>ul>li>a {
		display: flex;
		align-items: center;
		padding: 1rem;
		color: var(--sidebar-items-color);
		transition: all 0.2s;
		cursor: no-drop;
		-webkit-animation-name: showSidebarSubItem;
		-moz-animation-name: showSidebarSubItem;
		-o-animation-name: showSidebarSubItem;
		animation-name: showSidebarSubItem;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
	}

	li>ul>li:hover>a {
		color: var(--sidebar-items-hover-color);
	}

	li>ul>li.active>a {
		color: var(--sidebar-items-hover-color);
	}

	li.active>ul {
		display: block;
	}

	li.open>ul {
		display: block;
	}
}


.sidebar-icon {
	@media (min-width: 48rem) {
		&.sidebar-left {
			.sidebar-menu>li>a>span:nth-child(2) {
				left: 5rem;
			}
		}

		&.sidebar-right {
			.sidebar-menu>li>a>span:nth-child(2) {
				right: 5rem;
			}
		}

		.sidebar-menu>li>a {
			padding: 1rem 1.5rem;
			justify-content: center;
			box-sizing: border-box;
		}

		.sidebar-menu>li>a>span:nth-child(2) {
			padding: 0;
			display: none;
			font-size: 17px;
		}

		.sidebar-menu>li:hover>a>span:nth-child(2) {
			display: block;
			position: absolute;
			background: black;
			padding: 8px;
			border-radius: 10px;
			color: white;
			transition: 0.3s all;
			-webkit-animation-name: fadeIn;
			-moz-animation-name: fadeIn;
			-o-animation-name: fadeIn;
			animation-name: fadeIn;
			-webkit-animation-duration: 0.3s;
			-moz-animation-duration: 0.3s;
			-o-animation-duration: 0.3s;
			animation-duration: 0.3s;
		}
	}


}

.sidebar-toggle-btn {
	font-size: 1.875rem;
	background: transparent;
	padding: 0.625rem;
	margin: 0;
	border: none;
	color: var(--sidebar-color);
	margin: 0 0.625rem;
	border-radius: 50%;
	transition: all 0.2s;
}

.sidebar-toggle-btn:hover {
	background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 48rem) {
	.sidebar{
		z-index: 0;
	}
	.sidebar-toggle-btn {
		display: none;
	}
}

@keyframes showSidebarSubItem {
	from {
		transform: translateY(-50%);
	}

	to {
		transform: translateY(0%);
	}
}